.display {
  margin-top: 450px;
}

.notes-headline {
  width: 630px;
  height: 370px;

  background-image: url(../../images/display-headline.png);
  transform: translate(104px, 0);
}

.notes-figures {
  height: 814px;
  margin-top: 26px;
}

.notes-caption {
  width: 145px;
  height: 45px;

  background-image: url(../../images/display-notes-caption.png);
  transform: translate(707px, -16px);
}

.shareplay {
  margin-top: 55px;
}

.shareplay-figures {
  height: 630px;
}

.shareplay-figure {
  transform: translate(-360px, 0);
}

.shareplay-caption {
  width: 110px;
  height: 48px;

  background-image: url(../../images/display-shareplay-caption.png);
  transform: translate(300px, 658px);
}

.icon--display {
  background-image: url(../../images/sprite/sprite-display.png);
}

.icon--true-tone {
  background-image: url(../../images/sprite/sprite-true-tone.png);
}
