.footer {
  background-color: var(--color-section);
}

.purchase {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  padding: 76px 0;
  text-align: center;
}

.purchase-icon {
  width: 56px;
  height: 56px;
  margin: 0 auto 10px;
}

.purchase-headline {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.purchase-desc {
  margin-bottom: 12px;
  font-size: 14px;
}

.link.purchase-link {
  font-size: 14px;
}

.warning {
  padding: 18px 0 10px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.warning-order {
  list-style: decimal;
  padding-left: 16px;
}

.warning-list {
  margin-bottom: 10px;

  color: var(--color-font-darkgray);
  font-size: 11px;
  line-height: 1.5;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 30px;

  margin: 20px 0;
}

.breadcrumbs-link {
  position: relative;
  color: var(--color-font-darkgray);
  font-size: 12px;
}

.breadcrumbs-apple {
  width: 16px;
  height: 16px;
  background-image: url(../../images/path-apple.svg);
}

.breadcrumbs-link::after {
  content: '';
  width: 8px;
  height: 18px;
  background-image: url(../../images/path-div.svg);

  position: absolute;
  top: 0;
  bottom: 0;
  right: -18px;
  margin: auto;
}

.breadcrumbs-link:last-child:after {
  display: none;
}

.breadcrumbs-link:hover {
  text-decoration: underline;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;

  height: 344px;
  margin-bottom: 40px;
}

.map {
  margin-top: 24px;
}

.map:nth-child(6) {
  padding-bottom: 100px;
}

.map-title {
  font-size: 12px;
  font-weight: 600;
}

.map-list {
  margin-top: 12px;
  font-size: 12px;
}

.map-link {
  color: var(--color-font-darkgray);
}

.map-link:hover {
  text-decoration: underline;
}
