.main-header {
  --header-height: 44px;

  background-color: var(--color-header);
  position: relative;
  z-index: 9;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
}

.menu-list {
  display: flex;
  position: relative;
  transition: 0.4s;
}

.searching .menu-list {
  opacity: 0;
  transform: scale(0.7);
}

.menu-link {
  display: flex;
  align-items: center;
  margin: 0 10px;

  color: var(--color-font-lightgray);
  font-size: 11px;
  opacity: 0.8;
}

.menu-link:hover {
  opacity: 1;
}

.logo-link,
.search-link,
.cart-link {
  width: 14px;
  margin: 0 10px;
  text-indent: -9999px;

  background-repeat: no-repeat;
  background-position: center 13px;
}

.logo-link {
  background-image: url(../../images/header-logo.svg);
}

.search-link {
  background-image: url(../../images/header-search.svg);
}

.cart-link {
  background-image: url(../../images/header-cart.svg);
}

.cart-button {
  position: relative;
}

.cart-container {
  visibility: hidden;

  width: 290px;
  padding: 10px 20px;
  background-color: var(--color-white);

  border: 1px solid var(--color-border);
  border-radius: 10px;

  position: absolute;
  top: calc(100% + 4px);
  right: -6px;

  opacity: 0;
  transition: 0.4s;
}

.cart-container.show {
  visibility: visible;
  opacity: 1;
}

.cart-arrow {
  width: 20px;
  height: 10px;

  position: absolute;
  top: -10px;
  right: 12px;

  overflow: hidden;
}

.cart-arrow::before {
  content: '';
  width: 12px;
  height: 12px;

  background-color: var(--color-white);
  border: 1px solid var(--color-border);

  transform: rotate(45deg);
  transform-origin: 0 0;

  position: absolute;
  top: 0;
  left: 50%;
}

.cart-message {
  padding: 30px 0;

  color: var(--color-font-darkgray);
  font-size: 13px;
  text-align: center;
}

.cart-menu {
  margin-top: 10px;
}

.cart-menu__list {
  border-top: 1px solid var(--color-border);
}

.cart-menu__link {
  display: block;
  padding: 14px;

  color: var(--color-link);
  font-size: 13px;
}

.cart-menu__link:hover {
  text-decoration: underline;
}

.search-container {
  visibility: hidden;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transition: 0.4s;
}

.searching .search-container {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.search {
  position: relative;
  max-width: 680px;
  margin: auto;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
}

.textfield {
  position: relative;
}

.search-input {
  width: 100%;
  height: var(--header-height);
  padding: 0 44px;

  color: var(--color-white);
  font-size: 17px;

  border: none;
  outline: none;
  background-color: transparent;
}

.search-icon {
  width: 40px;
  height: var(--header-height);

  background-image: url(../../images/header-search.svg);
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.4;
}

.search-closer {
  width: 40px;
  height: var(--header-height);

  background-image: url(../../images/search-closer.svg);
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0;
  right: 0;

  opacity: 0.4;
  cursor: pointer;
}

.search-closer:hover {
  opacity: 1;
}

.autocomplete {
  width: 100%;
  padding: 26px 40px 20px;

  background-color: var(--color-white);
  border-radius: 0 0 18px 18px;

  position: absolute;
  top: var(--header-height);
  left: 0;
}

.search-title {
  font-size: 12px;
  color: var(--color-font-darkgray);
  margin-bottom: 12px;
}

.search-menu__link {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;

  font-size: 14px;
  cursor: pointer;
}

.search-menu__link:hover {
  background-color: var(--color-section);
  color: var(--color-link);
}

.search-input,
.search-icon,
.search-title,
.search-menu__list {
  transform: translate(100px, 0);
  transition: 0.6s;
}

.searching .search-input,
.searching .search-icon,
.searching .search-title,
.searching .search-menu__list {
  transform: translate(0, 0);
  transition-delay: 0.2s;
}
