.main-header {
  background-color: #3a3a3a;
}

.inner {
  max-width: 1020px;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.menu-list {
  display: flex;
}

.menu-link {
  display: flex;
  align-items: center;
  margin: 0 10px;

  color: #f5f5f5;
  font-size: 11px;
  opacity: 0.8;
}

.menu-link:hover {
  opacity: 1;
}

.logo-link,
.search-link,
.cart-link {
  width: 14px;
  text-indent: -9999px;

  background-repeat: no-repeat;
  background-position: center 13px;
}

.logo-link {
  background-image: url(../../images/header-logo.svg);
}

.search-link {
  background-image: url(../../images/header-search.svg);
}

.cart-link {
  background-image: url(../../images/header-cart.svg);
}
