.navigation {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #d2d2d2;

  position: sticky;
  top: 0;

  z-index: 8;
}

.nav-inner {
  display: flex;
  align-items: center;
  height: 52px;
}

.nav-title {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
}

.nav-menu__link {
  display: block;
  margin: 6px;
  font-size: 11px;
}

.nav-menu__link:hover {
  color: #0071e3;
}

.active .nav-menu__link {
  opacity: 0.5;
  cursor: default;
}

.active .nav-menu__link:hover {
  color: #1d1d1d;
}
